@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  font-family: 'Lato', 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  letter-spacing: -0.5px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  padding: 0;
}


svg {
  vertical-align: middle;
  cursor: pointer;
}

svg:hover{
    color: #80B488;
    transition: all 0.2s;
}